<app-nav-bar></app-nav-bar>
<app-side-bar></app-side-bar>
<div class="content-wrapper">

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card mt-4">
            <div class="card-header">
              <h3 class="card-title mt-3"><b class="ml-5">Manager products</b></h3>
            </div>

            <div class="col-12 mt-3 ml-2 mb-3 row">

              <div class="col-2"> <button class="btn btn-primary" (click)="open(content)"><i
                    class="fas fa-plus-circle"></i> Add product</button></div>
              <div class="col-3">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Brand</label>
                  <div class="col-sm-8">
                    <select [(ngModel)]="selected" name="selected" class="form-control" (change)="retrieveTutorials()">
                      <option *ngFor="let item of brands" [value]="item.brandId">{{item.brandName}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Sort</label>
                  <div class="col-sm-8">
                    <select [(ngModel)]="sort" name="sort" class="form-control" (change)="retrieveTutorials()">
                      <option value="0">Asc</option>
                      <option value="1">Desc</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="form-group row">
                  <div class="col-form-label col-6">
                    <input type="text" class="form-control" [(ngModel)]="keyWord" aria-describedby="emailHelp"
                    placeholder="Enter keywork">
                  </div>
                  <div class="col-6" style="margin-top: 5px;">
                    <button class="btn btn-primary" (click)="retrieveTutorials()">Search<i class="fas fa-search"></i></button>
                  </div>

                </div>
              </div>

            </div>

            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover mb-3 text-center">
                <thead>
                  <tr>
                    <th><b>ID</b></th>
                    <th><b>Name</b></th>
                    <th><b>Image</b></th>
                    <th><b>State</b></th>
                    <th><b>Price</b></th>
                    <th><b>Amount</b></th>
                    <th><b>Brand</b></th>
                    <th><b>Action</b></th>
                  </tr>
                </thead>
 
                <tbody *ngFor="let item of tutorials | paginate :{
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
               };
               let i = index;
               "
               [class.active]="i == currentIndex"
               >
               <tr *ngIf=" item.stateProduct != -1">
                   <td>{{item.productId}}</td>
                   <td>{{item.nameProduct}}</td>
                   <td><img *ngIf="item.imageFirst != null" src="http://localhost:8080/api/public/downloadFile/{{item.imageFirst}}" width="80" height="50" alt="image" /></td>
                   <td *ngIf="item.stateProduct == 1">STILL</td>
                   <td *ngIf="item.stateProduct == 0">END</td>
                   <td>{{item.price}}</td>
                   <td>{{item.amount}}</td>
                   <td>{{item.nameBrand}}</td>
                   <td>
                    <a type="button" [routerLink]="['/edit',item.productId]" routerLinkActive="router-link-active"  class="btn btn-success">Edit <i class="fas fa-edit"></i></a>
                    <button class="btn btn-danger ml-3" (click)="delete(item.productId)">Delete <i class="fas fa-trash"></i></button>
                   </td>
               </tr>
             </tbody>
              </table>
              <div>
                <pagination-controls  previousLabel="Prev" nextLabel="Next" (pageChange)="handlePageChange($event)">
                </pagination-controls>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title ml-3" id="modal-basic-title">Insert product</h4>
    <button type="button" class="btn-close mr-3" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3 ml-5 mr-5">
        <label for="productName">Product Name </label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="name" placeholder="Enter product name" name="productName">
        </div>
      </div>

      <div class="mb-3 ml-5 mr-5">
        <label for="price">Price</label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="price" placeholder="Enter price" name="price">
        </div>
      </div>

      <div class="mb-3 ml-5 mr-5">
        <label for="year">Year</label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="year" placeholder="Enter year" name="year">
        </div>
      </div>

      <div class="mb-3 ml-5 mr-5">
        <label for="origin">Origin</label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="origin" placeholder="Enter origin" name="origin">
        </div>
      </div>

      <div class="mb-3 ml-5 mr-5">
        <label for="origin">Amount</label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="amount" placeholder="Enter amount" name="amount">
        </div>
      </div>

      <div class="mb-3 ml-5 mr-5">
        <label for="email">Brand</label>
        <div class="input-group">
          <select [(ngModel)]="selected" name="selected" class="form-control">
            <option *ngFor="let item of brands" [value]="item.brandId">{{item.brandName}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>